@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-padrao:  Verdana, Geneva, Tahoma, sans-serif;
    --font-destaque: 'Passion One', cursive;
    --font-p: 'Sriracha', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: var(--font-padrao)
    min-height: 100vh;
    background-color: white;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    font-family: var(--font-destaque);
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    padding: 30px;
}

header > h1 {
    font-size: 8vw;
    font-variant: small-caps;
    font-weight: bold;
    padding: 20px;
}

main p {
    line-height: 2em;
    padding: 20px 5px;
}

main p.img-fundo {
    background-color: rgba(0, 0, 0, 0.327);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.575);
    min-height: fit-content;
    max-width: fit-content;
}

section {

    font-family: var(--font-p);
    font-size: 3.5vw;
    padding: 30px 20px;
}

section.imagem {
        background-color: rgb(51, 51, 51);
        color: white;    
        padding: 70px 20px; 
        /*color > image > position > repeat > [size]* > attachment*/
        background: right center no-repeat; 

}

section#fundo01 {
    background-image:  url('imagens/background001.jpg');
    background-size: cover; 
    background-attachment: fixed;
}

section#fundo02 {
    background: url('imagens/background002.jpg');
    background-size: cover; 
    background-attachment: fixed;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}